# SPDX-FileCopyrightText: 2022 Automattic, Inc
# SPDX-FileCopyrightText: 2022 Harald Eilertsen <harald.eilertsen@automattic.com>
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline

[Makefile]
indent_style = tab
indent_size = 4

[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4
